.row.product-details
  .col.s10.offset-s1.hide-on-med-and-up
    h4.pink-text.text-lighten-2 {{product.name}}
  .col.l4.m6.s10.offset-s1.offset-l1.img-container
    .z-depth-1.image.center-align
      img.responsive-img(ng-src="{{product.image}}")
  .col.l6.m6.s10.offset-s1
    .row.hide-on-small-only
      .col.l12.m12
        h4.pink-text.text-lighten-2 {{product.name}}
        h5.price
          span(ng-class="{'discount': product.is_sale}") {{product.price}}
          span(ng-if="product.is_sale") &nbsp;{{product.price - product.discount}}
    .row.description
      .col.s12
        .z-depth-1.grey-text.description-text
          h6 Описание
          .divider
          p {{product.description}}
      .col.s12.description
        .z-depth-1.grey-text.description-text
          h6 Дополнительное описание*
          .divider
          ul
            li.row(ng-repeat="property in product.properties")
              span {{property.key}}:&nbsp;
              span {{property.value}} {{property.extension}}
    .row.hide-on-med-and-up.right
      .col.s12
        h5.price
          span(ng-class="{'discount': product.is_sale}") {{product.price}}
          span(ng-if="product.is_sale") &nbsp;{{product.price - product.discount}}
    .row.btn-group
      .col.s12.right-align
        button.btn.waves-effect.waves-light.pink.lighten-2(
          ui-sref="catalog.list"
        )
          i.fa.fa-reply
        button.btn.waves-effect.waves-light.pink.lighten-2(
          ng-click="makeOrder()"
          ng-disabled="product.is_in_cart || !user.isLogged"
        )
          i.fa.fa-plus
