.row
  .col.offset-s1
    h3.pink-text.text-lighten-2 Размеры шаров
.container
  .row
    .col.l4.m6.s10.offset-s1(ng-repeat="size in sizes")
      .z-depth-1.ball-size
        img.responsive-img.wow.zoomIn(
          src="{{size.img}}"
          title="{{size.title}}"
        )
        .title.green.lighten-1.light-green-text.text-darken-4
          span {{size.title}}
