.row
  .col.offset-s1
    h3.pink-text.text-lighten-2 Размеры шаров
.container
  .row
    .col.l4.m6.s10.offset-s1(ng-repeat="size in sizes", style="margin-bottom: 10px")
      .z-depth-1
        img.responsive-img(src="{{size.img}}")
