footer.grey.lighten-2.grey-text.text-darken-4
  .row
    map.col.l5.m12.s12
    .col.l7.m12
      .row
        .col.l6.m6
          .row
            ul.col.s12
              li Агентство аэродизайна "Микки"
              li УНП 691784495
              li Выдано Минским районным исполнительным комитетом
              li р/с 45487845454 "Беларусбанк"
            ul.col.s12
              li г.Гомель, ул. Трудовая 3а
              li +375293545456 Виктор
              li +345545488455 Сергей
        .col.l6.m6.hide-on-small-only
          ol
            li Позвоните нашему менеджеру
            li Составьте с ним предзаказ
            li Мы привозим вам шарики
            li Вы оплачиваете заказ
      .row
        .col.s12.center-align
          a.cyan-text
            i.fa.fa-vk.fa-2x
          span &nbsp;
          a.orange-text
            i.fa.fa-odnoklassniki.fa-2x
  .row.sign.grey.darken-1
    .col.s12
      .row
        .col.s12.center-align
          span © 2014 - 2016 Агентство&nbsp;
          span.hide-on-small-only аэродизайна&nbsp;
          span "Микки"
      .row
        .col.s12.center-align
          span ActiveCloud
