footer.pink.lighten-1.white-text
  .row.center-align
    .col.s12
      span © 2014 - 2016 Агентство&nbsp;
      span.hide-on-small-only аэродизайна&nbsp;
      span "Микки"
    .col.s12
      span
        include ./activeLink.html
