.valign-wrapper(style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index:999", ng-if="enableSpinner")
  .preloader-wrapper.big.active(style="margin-left: auto; margin-right: auto")
    .spinner-layer.spinner-blue
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
    .spinner-layer.spinner-red
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
    .spinner-layer.spinner-yellow
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
    .spinner-layer.spinner-green
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
