html
  height: 100%

  body
    height: 100%

    .main
      min-height: 100%
      padding-bottom: 300px

      nav

        li:hover
          background: inherit
        a
          color: $white
          font-size: 18px

      .btn-group
        margin-top: 15px

    footer
      height: 290px
      margin-top: -290px

.separator

  div
    height: 3px