@import colors

@import base
@import cart
@import header
@import layout
@import product


.ball-size
  margin-bottom: 10px
  position: relative
  cursor: pointer

  .title
    position: absolute
    bottom: 0
    width: 100%
    display: block
    padding: 3px

    span
      opacity: 1
