<h2>Новый заказ</h2>
<ul>
  <li>Заказчик: {{ user.name }}</li>
  <li>Номер телефона: {{ user.phone }}</li>
  <li>Адрес: {{ user.address }}</li>
  <li>Время: {{ user.date }}</li>
</ul>
<table border="1" style="width: 100%;">
  <thead>
    <tr style="color: #ffffff; background: #778899;">
      <th style="width: 10%; text-align: center;">ID</td>
      <th style="width: 60%; overflow: hidden; text-overflow: ellipsis;">Название</td>
      <th style="width: 20%; text-align: right;">Количество</td>
      <th style="width: 20%; text-align: right;">Цена</td>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td style="width: 10%; text-align: center;">
          {{ product.id }}
        </td>
        <td style="width: 60%; overflow: hidden; text-overflow: ellipsis;">
          {{ product.name }}
        </td>
        <td style="width: 20%; text-align: right;">
          {{ product.count }}
        </td>
        <td style="width: 20%; text-align: right;">
          {{ product.price }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td style="width: 10%; text-align: center;"></td>
      <td style="width: 60%; overflow: hidden; text-overflow: ellipsis;">Всего</td>
      <td style="width: 20%; text-align: right;"></td>
      <td style="width: 20%; text-align: right;">{{ total_price }}</td>
    </tr>
  </tbody>
</table>
